/*
    --color-cardinal: hsl(hue, 100%, 50%);
    --color-bright: hsl(hue, 100%, 60%);
    --color-lucent: hsl(hue, 100%, 70%);
    --color-soft: hsl(hue, 100%, 80%);
    --color-pale: hsl(hue, 100%, 90%);
    --color-tint: hsl(hue, 100%, 95%);
    --color-dim: hsl(hue, 100%, 40%);
    --color-dusk: hsl(hue, 100%, 30%);
    --color-dark: hsl(hue, 100%, 20%);
    --color-obscure: hsl(hue, 100%, 10%);
    --color-shade: hsl(hue, 100%, 5%);
    --color-diluted: hsl(hue, 80%, 50%);
    --color-weak: hsl(hue, 60%, 50%);
    --color-faded: hsl(hue, 40%, 50%);
    --color-muted: hsl(hue, 20%, 50%);
    --color-dull: hsl(hue, 10%, 50%);
    --color-tone: hsl(hue, 5%, 50%);
*/

/* todo: update tones of each color */

:root {
    --gray-cardinal: hsl(0, 0%, 50%); /* #808080 */
    --gray-bright: hsl(0, 0%, 60%);
    --gray-lucent: hsl(0, 0%, 70%);
    --gray-soft: hsl(0, 0%, 80%);
    --gray-pale: hsl(0, 0%, 90%);
    --gray-tint: hsl(0, 0%, 95%);
    --gray-dim: hsl(0, 0%, 40%);
    --gray-dusk: hsl(0, 0%, 30%);
    --gray-dark: hsl(0, 0%, 20%);
    --gray-obscure: hsl(0, 0%, 10%);
    --gray-shade: hsl(0, 0%, 5%);

    --red-cardinal: hsl(0, 100%, 50%); /* #ff0000 */
    --red-bright: hsl(0, 100%, 60%);
    --red-lucent: hsl(0, 100%, 70%);
    --red-soft: hsl(0, 100%, 80%);
    --red-pale: hsl(0, 100%, 90%);
    --red-tint: hsl(0, 100%, 95%);
    --red-dim: hsl(0, 100%, 40%);
    --red-dusk: hsl(0, 100%, 30%);
    --red-dark: hsl(0, 100%, 20%);
    --red-obscure: hsl(0, 100%, 10%);
    --red-shade: hsl(0, 100%, 5%);
    --red-weak: hsl(0, 80%, 50%);
    --red-faded: hsl(0, 60%, 50%);
    --red-muted: hsl(0, 40%, 50%);
    --red-dull: hsl(0, 20%, 50%);
    --red-tone: hsl(0, 10%, 50%);

    --coquelicot-cardinal: hsl(15, 100%, 50%); /* #ff4000 */
    --coquelicot-bright: hsl(15, 100%, 60%);
    --coquelicot-lucent: hsl(15, 100%, 70%);
    --coquelicot-soft: hsl(15, 100%, 80%);
    --coquelicot-pale: hsl(15, 100%, 90%);
    --coquelicot-tint: hsl(15, 100%, 95%);
    --coquelicot-dim: hsl(15, 100%, 40%);
    --coquelicot-dusk: hsl(15, 100%, 30%);
    --coquelicot-dark: hsl(15, 100%, 20%);
    --coquelicot-obscure: hsl(15, 100%, 10%);
    --coquelicot-shade: hsl(15, 100%, 5%);
    --coquelicot-diluted: hsl(15, 80%, 50%);
    --coquelicot-weak: hsl(15, 60%, 50%);
    --coquelicot-faded: hsl(15, 40%, 50%);
    --coquelicot-muted: hsl(15, 20%, 50%);
    --coquelicot-dull: hsl(15, 10%, 50%);
    --coquelicot-tone: hsl(15, 5%, 50%);

    --orange-cardinal: hsl(30, 100%, 50%);
    --orange-bright: hsl(30, 100%, 60%);
    --orange-lucent: hsl(30, 100%, 70%);
    --orange-soft: hsl(30, 100%, 80%);
    --orange-pale: hsl(30, 100%, 90%);
    --orange-tint: hsl(30, 100%, 95%);
    --orange-dim: hsl(30, 100%, 40%);
    --orange-dusk: hsl(30, 100%, 30%);
    --orange-dark: hsl(30, 100%, 20%);
    --orange-obscure: hsl(30, 100%, 10%);
    --orange-shade: hsl(30, 100%, 5%);
    --orange-weak: hsl(30, 40%, 50%);
    --orange-faded: hsl(30, 30%, 50%);
    --orange-muted: hsl(30, 20%, 50%);
    --orange-dull: hsl(30, 10%, 50%);
    --orange-tone: hsl(30, 5%, 50%);

    --amber-cardinal: hsl(45, 100%, 50%);
    --amber-bright: hsl(45, 100%, 60%);
    --amber-lucent: hsl(45, 100%, 70%);
    --amber-soft: hsl(45, 100%, 80%);
    --amber-pale: hsl(45, 100%, 90%);
    --amber-tint: hsl(45, 100%, 95%);
    --amber-dim: hsl(45, 100%, 40%);
    --amber-dusk: hsl(45, 100%, 30%);
    --amber-dark: hsl(45, 100%, 20%);
    --amber-obscure: hsl(45, 100%, 10%);
    --amber-shade: hsl(45, 100%, 5%);
    --amber-weak: hsl(45, 40%, 50%);
    --amber-faded: hsl(45, 30%, 50%);
    --amber-muted: hsl(45, 20%, 50%);
    --amber-dull: hsl(45, 10%, 50%);
    --amber-tone: hsl(45, 5%, 50%);

    --yellow-cardinal: hsl(60, 100%, 50%);
    --yellow-bright: hsl(60, 100%, 60%);
    --yellow-lucent: hsl(60, 100%, 70%);
    --yellow-soft: hsl(60, 100%, 80%);
    --yellow-pale: hsl(60, 100%, 90%);
    --yellow-tint: hsl(60, 100%, 95%);
    --yellow-dim: hsl(60, 100%, 40%);
    --yellow-dusk: hsl(60, 100%, 30%);
    --yellow-dark: hsl(60, 100%, 20%);
    --yellow-obscure: hsl(60, 100%, 10%);
    --yellow-shade: hsl(60, 100%, 5%);
    --yellow-weak: hsl(60, 40%, 50%);
    --yellow-faded: hsl(60, 30%, 50%);
    --yellow-muted: hsl(60, 20%, 50%);
    --yellow-dull: hsl(60, 10%, 50%);
    --yellow-tone: hsl(60, 5%, 50%);

    --lime-cardinal: hsl(75, 100%, 50%);
    --lime-bright: hsl(75, 100%, 60%);
    --lime-lucent: hsl(75, 100%, 70%);
    --lime-soft: hsl(75, 100%, 80%);
    --lime-pale: hsl(75, 100%, 90%);
    --lime-tint: hsl(75, 100%, 95%);
    --lime-dim: hsl(75, 100%, 40%);
    --lime-dusk: hsl(75, 100%, 30%);
    --lime-dark: hsl(75, 100%, 20%);
    --lime-obscure: hsl(75, 100%, 10%);
    --lime-shade: hsl(75, 100%, 5%);
    --lime-weak: hsl(75, 40%, 50%);
    --lime-faded: hsl(75, 30%, 50%);
    --lime-muted: hsl(75, 20%, 50%);
    --lime-dull: hsl(75, 10%, 50%);
    --lime-tone: hsl(75, 5%, 50%);

    --chartreuse-cardinal: hsl(90, 100%, 50%);
    --chartreuse-bright: hsl(90, 100%, 60%);
    --chartreuse-lucent: hsl(90, 100%, 70%);
    --chartreuse-soft: hsl(90, 100%, 80%);
    --chartreuse-pale: hsl(90, 100%, 90%);
    --chartreuse-tint: hsl(90, 100%, 95%);
    --chartreuse-dim: hsl(90, 100%, 40%);
    --chartreuse-dusk: hsl(90, 100%, 30%);
    --chartreuse-dark: hsl(90, 100%, 20%);
    --chartreuse-obscure: hsl(90, 100%, 10%);
    --chartreuse-shade: hsl(90, 100%, 5%);
    --chartreuse-weak: hsl(90, 40%, 50%);
    --chartreuse-faded: hsl(90, 30%, 50%);
    --chartreuse-muted: hsl(90, 20%, 50%);
    --chartreuse-dull: hsl(90, 10%, 50%);
    --chartreuse-tone: hsl(90, 5%, 50%);

    --harlequin-cardinal: hsl(105, 100%, 50%);
    --harlequin-bright: hsl(105, 100%, 60%);
    --harlequin-lucent: hsl(105, 100%, 70%);
    --harlequin-soft: hsl(105, 100%, 80%);
    --harlequin-pale: hsl(105, 100%, 90%);
    --harlequin-tint: hsl(105, 100%, 95%);
    --harlequin-dim: hsl(105, 100%, 40%);
    --harlequin-dusk: hsl(105, 100%, 30%);
    --harlequin-dark: hsl(105, 100%, 20%);
    --harlequin-obscure: hsl(105, 100%, 10%);
    --harlequin-shade: hsl(105, 100%, 5%);
    --harlequin-weak: hsl(105, 40%, 50%);
    --harlequin-faded: hsl(105, 30%, 50%);
    --harlequin-muted: hsl(105, 20%, 50%);
    --harlequin-dull: hsl(105, 10%, 50%);
    --harlequin-tone: hsl(105, 5%, 50%);

    --green-cardinal: hsl(120, 100%, 50%);
    --green-bright: hsl(120, 100%, 60%);
    --green-lucent: hsl(120, 100%, 70%);
    --green-soft: hsl(120, 100%, 80%);
    --green-pale: hsl(120, 100%, 90%);
    --green-tint: hsl(120, 100%, 95%);
    --green-dim: hsl(120, 100%, 40%);
    --green-dusk: hsl(120, 100%, 30%);
    --green-dark: hsl(120, 100%, 20%);
    --green-obscure: hsl(120, 100%, 10%);
    --green-shade: hsl(120, 100%, 5%);
    --green-weak: hsl(120, 40%, 50%);
    --green-faded: hsl(120, 30%, 50%);
    --green-muted: hsl(120, 20%, 50%);
    --green-dull: hsl(120, 10%, 50%);
    --green-tone: hsl(120, 5%, 50%);

    --erin-cardinal: hsl(135, 100%, 50%);
    --erin-bright: hsl(135, 100%, 60%);
    --erin-lucent: hsl(135, 100%, 70%);
    --erin-soft: hsl(135, 100%, 80%);
    --erin-pale: hsl(135, 100%, 90%);
    --erin-tint: hsl(135, 100%, 95%);
    --erin-dim: hsl(135, 100%, 40%);
    --erin-dusk: hsl(135, 100%, 30%);
    --erin-dark: hsl(135, 100%, 20%);
    --erin-obscure: hsl(135, 100%, 10%);
    --erin-shade: hsl(135, 100%, 5%);
    --erin-weak: hsl(135, 40%, 50%);
    --erin-faded: hsl(135, 30%, 50%);
    --erin-muted: hsl(135, 20%, 50%);
    --erin-dull: hsl(135, 10%, 50%);
    --erin-tone: hsl(135, 5%, 50%);

    --spring-cardinal: hsl(150, 100%, 50%);
    --spring-bright: hsl(150, 100%, 60%);
    --spring-lucent: hsl(150, 100%, 70%);
    --spring-soft: hsl(150, 100%, 80%);
    --spring-pale: hsl(150, 100%, 90%);
    --spring-tint: hsl(150, 100%, 95%);
    --spring-dim: hsl(150, 100%, 40%);
    --spring-dusk: hsl(150, 100%, 30%);
    --spring-dark: hsl(150, 100%, 20%);
    --spring-obscure: hsl(150, 100%, 10%);
    --spring-shade: hsl(150, 100%, 5%);
    --spring-weak: hsl(150, 40%, 50%);
    --spring-faded: hsl(150, 30%, 50%);
    --spring-muted: hsl(150, 20%, 50%);
    --spring-dull: hsl(150, 10%, 50%);
    --spring-tone: hsl(150, 5%, 50%);

    --aquamarine-cardinal: hsl(165, 100%, 50%);
    --aquamarine-bright: hsl(165, 100%, 60%);
    --aquamarine-lucent: hsl(165, 100%, 70%);
    --aquamarine-soft: hsl(165, 100%, 80%);
    --aquamarine-pale: hsl(165, 100%, 90%);
    --aquamarine-tint: hsl(165, 100%, 95%);
    --aquamarine-dim: hsl(165, 100%, 40%);
    --aquamarine-dusk: hsl(165, 100%, 30%);
    --aquamarine-dark: hsl(165, 100%, 20%);
    --aquamarine-obscure: hsl(165, 100%, 10%);
    --aquamarine-shade: hsl(165, 100%, 5%);
    --aquamarine-weak: hsl(165, 40%, 50%);
    --aquamarine-faded: hsl(165, 30%, 50%);
    --aquamarine-muted: hsl(165, 20%, 50%);
    --aquamarine-dull: hsl(165, 10%, 50%);
    --aquamarine-tone: hsl(165, 5%, 50%);

    --cyan-cardinal: hsl(180, 100%, 50%);
    --cyan-bright: hsl(180, 100%, 60%);
    --cyan-lucent: hsl(180, 100%, 70%);
    --cyan-soft: hsl(180, 100%, 80%);
    --cyan-pale: hsl(180, 100%, 90%);
    --cyan-tint: hsl(180, 100%, 95%);
    --cyan-dim: hsl(180, 100%, 40%);
    --cyan-dusk: hsl(180, 100%, 30%);
    --cyan-dark: hsl(180, 100%, 20%);
    --cyan-obscure: hsl(180, 100%, 10%);
    --cyan-shade: hsl(180, 100%, 5%);
    --cyan-weak: hsl(180, 40%, 50%);
    --cyan-faded: hsl(180, 30%, 50%);
    --cyan-muted: hsl(180, 20%, 50%);
    --cyan-dull: hsl(180, 10%, 50%);
    --cyan-tone: hsl(180, 5%, 50%);

    --capri-cardinal: hsl(195, 100%, 50%);
    --capri-bright: hsl(195, 100%, 60%);
    --capri-lucent: hsl(195, 100%, 70%);
    --capri-soft: hsl(195, 100%, 80%);
    --capri-pale: hsl(195, 100%, 90%);
    --capri-tint: hsl(195, 100%, 95%);
    --capri-dim: hsl(195, 100%, 40%);
    --capri-dusk: hsl(195, 100%, 30%);
    --capri-dark: hsl(195, 100%, 20%);
    --capri-obscure: hsl(195, 100%, 10%);
    --capri-shade: hsl(195, 100%, 5%);
    --capri-weak: hsl(195, 40%, 50%);
    --capri-faded: hsl(195, 30%, 50%);
    --capri-muted: hsl(195, 20%, 50%);
    --capri-dull: hsl(195, 10%, 50%);
    --capri-tone: hsl(195, 5%, 50%);

    --azure-cardinal: hsl(210, 100%, 50%);
    --azure-bright: hsl(210, 100%, 60%);
    --azure-lucent: hsl(210, 100%, 70%);
    --azure-soft: hsl(210, 100%, 80%);
    --azure-pale: hsl(210, 100%, 90%);
    --azure-tint: hsl(210, 100%, 95%);
    --azure-dim: hsl(210, 100%, 40%);
    --azure-dusk: hsl(210, 100%, 30%);
    --azure-dark: hsl(210, 100%, 20%);
    --azure-obscure: hsl(210, 100%, 10%);
    --azure-shade: hsl(210, 100%, 5%);
    --azure-weak: hsl(210, 40%, 50%);
    --azure-faded: hsl(210, 30%, 50%);
    --azure-muted: hsl(210, 20%, 50%);
    --azure-dull: hsl(210, 10%, 50%);
    --azure-tone: hsl(210, 5%, 50%);

    --cerulean-cardinal: hsl(225, 100%, 50%);
    --cerulean-bright: hsl(225, 100%, 60%);
    --cerulean-lucent: hsl(225, 100%, 70%);
    --cerulean-soft: hsl(225, 100%, 80%);
    --cerulean-pale: hsl(225, 100%, 90%);
    --cerulean-tint: hsl(225, 100%, 95%);
    --cerulean-dim: hsl(225, 100%, 40%);
    --cerulean-dusk: hsl(225, 100%, 30%);
    --cerulean-dark: hsl(225, 100%, 20%);
    --cerulean-obscure: hsl(225, 100%, 10%);
    --cerulean-shade: hsl(225, 100%, 5%);
    --cerulean-weak: hsl(225, 40%, 50%);
    --cerulean-faded: hsl(225, 30%, 50%);
    --cerulean-muted: hsl(225, 20%, 50%);
    --cerulean-dull: hsl(225, 10%, 50%);
    --cerulean-tone: hsl(225, 5%, 50%);

    --blue-cardinal: hsl(240, 100%, 50%);
    --blue-bright: hsl(240, 100%, 60%);
    --blue-lucent: hsl(240, 100%, 70%);
    --blue-soft: hsl(240, 100%, 80%);
    --blue-pale: hsl(240, 100%, 90%);
    --blue-tint: hsl(240, 100%, 95%);
    --blue-dim: hsl(240, 100%, 40%);
    --blue-dusk: hsl(240, 100%, 30%);
    --blue-dark: hsl(240, 100%, 20%);
    --blue-obscure: hsl(240, 100%, 10%);
    --blue-shade: hsl(240, 100%, 5%);
    --blue-weak: hsl(240, 40%, 50%);
    --blue-faded: hsl(240, 30%, 50%);
    --blue-muted: hsl(240, 20%, 50%);
    --blue-dull: hsl(240, 10%, 50%);
    --blue-tone: hsl(240, 5%, 50%);

    --indigo-cardinal: hsl(255, 100%, 50%);
    --indigo-bright: hsl(255, 100%, 60%);
    --indigo-lucent: hsl(255, 100%, 70%);
    --indigo-soft: hsl(255, 100%, 80%);
    --indigo-pale: hsl(255, 100%, 90%);
    --indigo-tint: hsl(255, 100%, 95%);
    --indigo-dim: hsl(255, 100%, 40%);
    --indigo-dusk: hsl(255, 100%, 30%);
    --indigo-dark: hsl(255, 100%, 20%);
    --indigo-obscure: hsl(255, 100%, 10%);
    --indigo-shade: hsl(255, 100%, 5%);
    --indigo-weak: hsl(255, 40%, 50%);
    --indigo-faded: hsl(255, 30%, 50%);
    --indigo-muted: hsl(255, 20%, 50%);
    --indigo-dull: hsl(255, 10%, 50%);
    --indigo-tone: hsl(255, 5%, 50%);

    --violet-cardinal: hsl(270, 100%, 50%);
    --violet-bright: hsl(270, 100%, 60%);
    --violet-lucent: hsl(270, 100%, 70%);
    --violet-soft: hsl(270, 100%, 80%);
    --violet-pale: hsl(270, 100%, 90%);
    --violet-tint: hsl(270, 100%, 95%);
    --violet-dim: hsl(270, 100%, 40%);
    --violet-dusk: hsl(270, 100%, 30%);
    --violet-dark: hsl(270, 100%, 20%);
    --violet-obscure: hsl(270, 100%, 10%);
    --violet-shade: hsl(270, 100%, 5%);
    --violet-weak: hsl(270, 40%, 50%);
    --violet-faded: hsl(270, 30%, 50%);
    --violet-muted: hsl(270, 20%, 50%);
    --violet-dull: hsl(270, 10%, 50%);
    --violet-tone: hsl(270, 5%, 50%);

    --purple-cardinal: hsl(285, 100%, 50%);
    --purple-bright: hsl(285, 100%, 60%);
    --purple-lucent: hsl(285, 100%, 70%);
    --purple-soft: hsl(285, 100%, 80%);
    --purple-pale: hsl(285, 100%, 90%);
    --purple-tint: hsl(285, 100%, 95%);
    --purple-dim: hsl(285, 100%, 40%);
    --purple-dusk: hsl(285, 100%, 30%);
    --purple-dark: hsl(285, 100%, 20%);
    --purple-obscure: hsl(285, 100%, 10%);
    --purple-shade: hsl(285, 100%, 5%);
    --purple-weak: hsl(285, 40%, 50%);
    --purple-faded: hsl(285, 30%, 50%);
    --purple-muted: hsl(285, 20%, 50%);
    --purple-dull: hsl(285, 10%, 50%);
    --purple-tone: hsl(285, 5%, 50%);

    --magenta-cardinal: hsl(300, 100%, 50%);
    --magenta-bright: hsl(300, 100%, 60%);
    --magenta-lucent: hsl(300, 100%, 70%);
    --magenta-soft: hsl(300, 100%, 80%);
    --magenta-pale: hsl(300, 100%, 90%);
    --magenta-tint: hsl(300, 100%, 95%);
    --magenta-dim: hsl(300, 100%, 40%);
    --magenta-dusk: hsl(300, 100%, 30%);
    --magenta-dark: hsl(300, 100%, 20%);
    --magenta-obscure: hsl(300, 100%, 10%);
    --magenta-shade: hsl(300, 100%, 5%);
    --magenta-weak: hsl(300, 40%, 50%);
    --magenta-faded: hsl(300, 30%, 50%);
    --magenta-muted: hsl(300, 20%, 50%);
    --magenta-dull: hsl(300, 10%, 50%);
    --magenta-tone: hsl(300, 5%, 50%);

    --cerise-cardinal: hsl(315, 100%, 50%);
    --cerise-bright: hsl(315, 100%, 60%);
    --cerise-lucent: hsl(315, 100%, 70%);
    --cerise-soft: hsl(315, 100%, 80%);
    --cerise-pale: hsl(315, 100%, 90%);
    --cerise-tint: hsl(315, 100%, 95%);
    --cerise-dim: hsl(315, 100%, 40%);
    --cerise-dusk: hsl(315, 100%, 30%);
    --cerise-dark: hsl(315, 100%, 20%);
    --cerise-obscure: hsl(315, 100%, 10%);
    --cerise-shade: hsl(315, 100%, 5%);
    --cerise-weak: hsl(315, 40%, 50%);
    --cerise-faded: hsl(315, 30%, 50%);
    --cerise-muted: hsl(315, 20%, 50%);
    --cerise-dull: hsl(315, 10%, 50%);
    --cerise-tone: hsl(315, 5%, 50%);

    --rose-cardinal: hsl(330, 100%, 50%);
    --rose-bright: hsl(330, 100%, 60%);
    --rose-lucent: hsl(330, 100%, 70%);
    --rose-soft: hsl(330, 100%, 80%);
    --rose-pale: hsl(330, 100%, 90%);
    --rose-tint: hsl(330, 100%, 95%);
    --rose-dim: hsl(330, 100%, 40%);
    --rose-dusk: hsl(330, 100%, 30%);
    --rose-dark: hsl(330, 100%, 20%);
    --rose-obscure: hsl(330, 100%, 10%);
    --rose-shade: hsl(330, 100%, 5%);
    --rose-weak: hsl(330, 40%, 50%);
    --rose-faded: hsl(330, 30%, 50%);
    --rose-muted: hsl(330, 20%, 50%);
    --rose-dull: hsl(330, 10%, 50%);
    --rose-tone: hsl(330, 5%, 50%);

    --crimson-cardinal: hsl(345, 100%, 50%);
    --crimson-bright: hsl(345, 100%, 60%);
    --crimson-lucent: hsl(345, 100%, 70%);
    --crimson-soft: hsl(345, 100%, 80%);
    --crimson-pale: hsl(345, 100%, 90%);
    --crimson-tint: hsl(345, 100%, 95%);
    --crimson-dim: hsl(345, 100%, 40%);
    --crimson-dusk: hsl(345, 100%, 30%);
    --crimson-dark: hsl(345, 100%, 20%);
    --crimson-obscure: hsl(345, 100%, 10%);
    --crimson-shade: hsl(345, 100%, 5%);
    --crimson-weak: hsl(345, 40%, 50%);
    --crimson-faded: hsl(345, 30%, 50%);
    --crimson-muted: hsl(345, 20%, 50%);
    --crimson-dull: hsl(345, 10%, 50%);
    --crimson-tone: hsl(345, 5%, 50%);
}